/*main stylesheet for p1 index.html*/

body {
	text-align: center;
	margin-bottom: 2em;
}

main {
	margin: 2em auto;
}

h1 {
	font-family: "Handlee", cursive, "Lucida Sans Unicode", sans-serif;
	font-weight: bold;
	font-size: 5em;
}

.profile {
	padding: 0 2em 0 2em;
}

.projects {
	margin-top: 3em;
}